/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Ajuste global para diálogos responsivos */
.responsive-dialog .mat-mdc-dialog-container {
    padding: 0 !important;
}

@media (max-width: 600px) {
    .cdk-overlay-pane {
        max-width: 95vw !important;
        width: 95vw !important;
    }
}
